<div class="container col-xl-12">
  <table class="table">
    <thead>
      <tr>
        <th>FundId</th>
        <th>Accumulated PNL</th>
        <th>Close Cash Equivalent</th>
        <th>Count</th>
        <th>Net Accumulated PNL</th>
        <th>Net Profit</th>
        <th>Net Profit Factor</th>
        <th>Net Total PNL</th>
        <th>Open Cash Equivalent MV</th>
        <th>Profit</th>
        <th>Profit Factor</th>
        <th>Total PNL</th>
        <th>Total Value</th>
        <th>Max Date</th>
        <th>Min Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let portifolio of portifolios">
        <td>{{portifolios[0].FundId}}</td>
        <td>{{portifolios[0].Profit[0].accumulatedPnl}}</td>
        <td>{{portifolios[0].Profit[0].closeCashEquivalentMV}}</td>
        <td>{{portifolios[0].Profit[0].count}}</td>
        <td>{{portifolios[0].Profit[0].netAccumulatedPnl}}</td>
        <td>{{portifolios[0].Profit[0].netProfit}}</td>
        <td>{{portifolios[0].Profit[0].netProfitFactor}}</td>
        <td>{{portifolios[0].Profit[0].netTotalPnl}}</td>
        <td>{{portifolios[0].Profit[0].openCashEquivalentMV}}</td>
        <td>{{portifolios[0].Profit[0].profit}}</td>
        <td>{{portifolios[0].Profit[0].profitFactor}}</td>
        <td>{{portifolios[0].Profit[0].totalPnl}}</td>
        <td>{{portifolios[0].Profit[0].totalValue}}</td>
        <td>{{portifolios[0].Profit[0]._id.maxDate}}</td>
        <td>{{portifolios[0].Profit[0]._id.minDate}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card add-acao">
  <h5 class="card-header">Adicionar Acao</h5>
  <div class="card-body">
      <form id="add-form" (ngSubmit)="f.form.valid && saveAcao(f)" #f="ngForm" novalidate>
      
        <div class="form-group">
          <label for="Price">Preco</label>
          <input type="text" [(ngModel)]="acao.Price" id="Price" name="Price" #model="ngModel" required class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && model.invalid }" placeholder="Digite o Preco">
          <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
            <div *ngIf="model.errors.required">Preco é obrigatório</div>
          </div>
        </div>
      
        <div class="form-group">
          <label for="Quantity">Quantidade</label>
          <input type="text" [(ngModel)]="acao.Quantity" id="Quantity" name="Quantity" #model="ngModel" required
            class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }" placeholder="Digite a Quantidade">
          <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
            <div *ngIf="model.errors.required">Preco é obrigatório</div>
          </div>
        </div>

        <div class="form-group">
          <label for="ID">Cod Acao</label>
          <input type="text" [(ngModel)]="securityAlternateID.ID" id="ID" name="ID" #model="ngModel" required
            class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }" placeholder="Digite o Ativo">
          <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
            <div *ngIf="model.errors.required">Preco é obrigatório</div>
          </div>
        </div>
      
      
      
        <button type="submit" class="btn btn-primary ">Salvar</button>
        <button type="reset" class="btn btn-secondary" (click)="cleanForm(f)">Cancelar</button>
      </form>
  </div>
</div>
<div>
  <button type="button" class="btn btn-sm" (click)="reload()">Refresh</button>
</div>